<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>autor modificar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <form class="formulario" th:action="@{/autor/modificar/__${autor.id}__}" method="POST">
                <input hidden th:value="${id}" name="id">
                
                <div>
                    <label>Cargar autores</label>
                    <input th:value="${autor.nombre}" type="text" name="nombre">
                </div> 
                
                <button type="submit">actualizar</button>
            </form>
        </div>
    </body>
</html>
